h1 {
    font-size: 80px;
    text-align: center;
    margin: 30px;
    margin-bottom: 0px;
    font-style: italic;
}

.subtitle-renticar{
    text-align: center;
    position: relative;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

.title-renticar {
    text-align: center;
    position: relative;
}

.example-spacer {
    flex: 1 1 auto;
    vertical-align: baseline;
    position: relative;
    margin-right:  15px;
    margin-top: 15px;
  }