<div class="content">

  <div class="title mat-elevation-z3">
    <table>
      <tr>
        <td>
          <h3>Lista de Vehículos</h3>
        </td>
        <td>
          <div class="button-add">
            <!-- Carga la ruta de crear vehiculo-->
            <button mat-raised-button color="primary"
              [routerLink]="['/renticar',{outlets: {'vehiculo': ['vehiculos','crear']}}]">
              <mat-icon>add</mat-icon> Nuevo Vehículo
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <!-- Filtro de busqueda -->
    <div class="form-content mat-elevation-z3">
      <mat-form-field appearance="standard">
        <mat-label>Buscar vehículo</mat-label>
        <input autocomplete="off" matInput (keyup)="applyFilter($event)"
          placeholder="Ingrese cualquier dato del vehículo" #input>
      </mat-form-field>
    </div>
    <!-- Lista que se mostrara en la tabla (vehiculos) -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Columna Numeracion fila -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let vehiculo; let i= index"> {{i+1}} </td>
      </ng-container>

      <!-- Columna Placa -->
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.placa}} </td>
      </ng-container>

      <!-- Columna Marca -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.marca}} </td>
      </ng-container>

      <!-- Columna Modelo -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.modelo}} </td>
      </ng-container>

      <!-- Columna Año -->
      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef> Año </th>
        <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.ano}} </td>
      </ng-container>

      <!-- Columna Color -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.color}} </td>
      </ng-container>

      <!-- Columna Propio -->
      <ng-container matColumnDef="propio">
        <th mat-header-cell *matHeaderCellDef> Propio </th>
        <td mat-cell *matCellDef="let vehiculo">
          <!-- Se muestra un dato diferente en la columna segun el valor del atributo propio -->
          <div *ngIf="vehiculo.propio==1">SI</div>
          <div *ngIf="vehiculo.propio==0">NO</div>
        </td>
      </ng-container>

      <!-- Columna Estado -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let vehiculo">
          <!-- Ver detalle de alquileres -->
          <div *ngIf="listaAlquileresVehiculos.has(vehiculo.id_vehiculos)"><button mat-stroked-button color="primary"
              (click)="detalleAlquiler(vehiculo.id_vehiculos)">
              <mat-icon>launch</mat-icon> Alquilado
            </button></div>
          <!-- No existen alquileres -->
          <div *ngIf="!listaAlquileresVehiculos.get(vehiculo.id_vehiculos)">Disponible</div>
        </td>
      </ng-container>

      <!-- Columna Editar -->
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let vehiculo">
          <!-- Carga la ruta editar caracteristica-->
          <button mat-mini-fab color="accent"
            [routerLink]="['/renticar',{outlets: {'vehiculo': ['vehiculos','editar',vehiculo.id_vehiculos]}}]">
            <mat-icon>edit_note</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Column Eliminar -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let vehiculo">
          <!-- Muestra el dialogo de eliminar-caracteritica -->
          <button mat-mini-fab color="warn" (click)="abrirAlerta(vehiculo.id_vehiculos, vehiculo)">
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Orden de las columnas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Fila que se muestra cuando no hay datos coincidentes -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
      </tr>
    </table>
  </div>

</div>