table {
    width: 100%;
}
  
h3 {
font-weight: bold;
}

h4{
  font-style: italic;
}

.content{
margin: 30px 100px;
}

.button-add{
text-align: center;
margin: 15px;
}

.form-content {
  padding: 10px 30px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
  text-align: justify;
  position: relative;
}

.list-auto{
  vertical-align: top;
}

.td-top{
  vertical-align: top;
  width: 0px;
}