
   <div class="content">
       <!-- Recargar Pagina -->
    <div>
        <button mat-stroked-button color="primary" [routerLink]="['/renticar',{outlets: {'alquiler': ['alquileres']}}]">
            <mat-icon>refresh</mat-icon>Refrescar página
        </button>
    </div>

    <div>
        <img src="../../../assets/img/error.svg" alt="error" width="40%">
    </div>

    <!-- Titulo -->
    <!-- Titulo -->
<div class="title-renticar">
    <h1 style="color: rgb(22, 11, 122);"><em style="color: rgb(11, 2, 90);">
        <mat-icon style="font-size: smaller; ">car_rental</mat-icon>
      </em> <b style="color: rgb(63, 192, 31);">RENTI</b>CAR</h1>
  </div>
   </div> 
    