.input-long{
    min-width: 80px;
    max-width: 500px;
    width: 100%;
}

.input-short{
    min-width: 30px;
    max-width: 200px;
    width: 100%;
}

.select-short{
    min-width: 30px;
    max-width: 100px;
}

table {
    width: 100%;
  }

.td-input{
    padding-right: 8px;
}